    

{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% comment %} {% load crispy_forms_tags %} {% endcomment %}
{% load widget_tweaks %}

{% load django_tables2 %}
{% block header_title %} {% trans 'F-Orchest' %} {% endblock %}

{% block content %}

    <!-- card -->
    <div class="row">
        <div class="col-md-12 mb-4">
            <div class="card border-left-primary shadow mb-4">
                <!-- Card Header - Accordion -->
                <a href="#collapseCard1" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCard1">
                    <h6 class="m-0 font-weight-bold text-primary">{% trans "Data filter" %}</h6>
                </a>
                <div class="collapse show" id="collapseCard1" style="">
                    <div class="card-body">
                        <!-- filter form -->
                        {% if filter %}
                        <!-- render the form using crispy -->
                            {% comment %} <form action="" method="get" class="form form-inline justify-content-between">
                                {{ filter.form|crispy }} {% endcomment %}

                            <form action="" method="get" class="form">
                                <div class="form-row align-items-end">
                                    {% for field in filter.form.visible_fields %}
                                        <div class="col">
                                            {{ field.label_tag }}
                                            {% render_field field class="mb-2 form-control" %}
                                        </div>
                                    {% endfor %}
                                </div>
                                <button type="submit" class="btn btn-xs btn-primary">{% trans "Filter" %}</button>
                            </form>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- listview -->
    <div class="row">
        <div class="col-md-12 mb-4">
            <div class="card border-left-primary shadow mb-4">
                <!-- Card Header - Accordion -->
                <a href="#collapse-version-list" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapse-version-list">
                    <h6 class="m-0 font-weight-bold text-primary">{% trans "Product List" %}</h6>
                </a>
                <div class="collapse show" id="collapse-version-list" style="">

                    <div class="card-body">
                        <form action="{% url "forecasting:bulk_confirm_versiondetail" %}" method="post">
                        {% csrf_token %}
                            {% render_table table %}
                            <button class="btn btn-xs btn-primary" type="submit" disabled>{% trans "Submit" %}</button>
                            <button class="btn btn-danger" disabled><i class="fas fa-share pr-2"></i>{% trans "Send for review" %}</button>
                        </form>




                            {% comment %} <!-- Submit review -->
                            <button type="button" class="btn btn-xs btn-danger mb-3" data-toggle="modal" data-target="#submit-review-modal">
                                {% trans 'Submit for review'%}
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="submit-review-modal" tabindex="-1" role="dialog" aria-labelledby="submit-review-modal-label" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="submit-review-modal-label">{% trans 'Submit for review'%}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>


                                        {% with approved_status='Approved' %}     
                                            {% if versiondetail.status != approved_status %}
                                                <form  action="{% url 'forecasting:bulk_send_for_review_versiondetail' %}" method="post">
                                                    <div class="modal-body">
                                                        <div class="form-group">
                                                            <label>{% trans 'Select the user'%}</label>
                                                            <select  class="form-control" id="user" name="user_id" >
                                                                {% for usr in supervisor_users %}
                                                                    <option value="{{usr.id}}">{{usr.first_name}} {{usr.last_name}} ({{usr.username}})</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-primary">{% trans 'Submit'%}</button>
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Close'%}</button>
                                                    </div>
                                                </form>
                                            {% else %}
                                                <div class="modal-body">
                                                    <div> This version has been reviewed and it is already approved by {{ versiondetail.approved_by.first_name }} ({{ versiondetail.approved_by.username }})</div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Close'%}</button>
                                                </div>
                                            {% endif %}
                                        {% endwith %}


                                    </div>
                                </div>
                            </div> {% endcomment %}




                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block custom_js %}

<script>
// Add select all option TODO not working when one row is unselected
function selectAllElements(source) {
    checkboxes = document.getElementsByName('selection');
    console.log(checkboxes)
    for(var i in checkboxes)
        checkboxes[i].checked = source.checked;
        console.log('checkboxes after ' + checkboxes[i].checked)
    
}

// Make button disabled if no row is selected
// TODO not working when deselect rows https://medium.com/@ezequiel.grondona/row-actions-with-django-tables2-and-materializecss-3e4618544db0
var checkboxes = $("input[type='checkbox']");
var submitButton = $("button[type='submit']");

checkboxes.click(function() {
    submitButton.attr("disabled", !checkboxes.is(":checked"));
});

</script>

{% endblock %}


